@font-face {
	font-family: Montserrat-Regular;
	src: url('./Montserrat-Regular.ttf');
}
@font-face {
	font-family: Montserrat-Medium;
	src: url('./Montserrat-Medium.ttf');
}
@font-face {
	font-family: Montserrat-SemiBold;
	src: url('./Montserrat-SemiBold.ttf');
}
@font-face {
	font-family: Montserrat-Bold;
	src: url('./Montserrat-Bold.ttf');
}

:root {
	--main-red: #ff4952;
	--main-blue: #5773ff;
	--second-blue: #102770;
	--ultra-light-grey: #c4c3ca;
	--light-grey: #474b52;
	--grey: #31353a;
	--dark-grey: #272727;
	--yellow: #FFFD98;
}

.form-box {
	display: block;
	width: 500px;
	height: 50px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-clip: padding-box;
	outline: none;
	border: none;
	appearance: none;
	border-radius: 5px;
	color: white;
}

.icon-name {
	background: url("./../scr/images/icons/streamline-icon-id-card@48x48.png") no-repeat left;
	background-size: 25px;
	background-color: var(--dark-grey);
	background-position: 30px 11px;
}
.icon-message {
	background: url("./../scr/images/icons/streamline-icon-messages-people-man-bubble-chat@48x48.png") no-repeat left;
	background-size: 25px;
	background-color: var(--dark-grey);
	background-position: 30px 11px;
}

.form-group {
	margin-bottom: 20px;
	font-family: Montserrat-SemiBold;
}

.btn {
	border-radius: 4px;
	height: 44px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	padding: 0 30px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
	background-color: var(--yellow);
	color: var(--main-blue);
	box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
}
.btn:active,
.btn:focus {
	background-color: var(--main-blue);
	color: var(--yellow);
	box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}
.btn:hover {
	background-color: var(--main-blue);
	color: var(--yellow);
	box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.form-group input:-ms-input-placeholder {
	color: var(--ultra-light-grey);
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
	color: var(--ultra-light-grey);
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
	color: var(--ultra-light-grey);
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
	color: var(--ultra-light-grey);
	opacity: 0.7;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
.input-icon {
	position: absolute;
	top: 0;
	left: 18px;
	height: 48px;
	font-size: 24px;
	line-height: 48px;
	text-align: left;
	color: var(--yellow);
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
